
*.o
*.d
*.out
*.lst
*.map
*.elf
*.nacp
*.nro
*.ttf
resources/inter/LICENSE.txt
*.dksh
*.exe
*.cc
build/meson-private/sanitycheckc.c
*.dat
*.lock
build/meson-private/cmd_line.txt
build/meson-logs/meson-log.txt
build/meson-info/meson-info.json
build/meson-info/intro-tests.json
build/meson-info/intro-targets.json
build/meson-info/intro-projectinfo.json
build/meson-info/intro-installed.json
build/meson-info/intro-dependencies.json
build/meson-info/intro-buildsystem_files.json
build/meson-info/intro-buildoptions.json
build/meson-info/intro-benchmarks.json
build/compile_commands.json
*.ninja
build/.ninja_log
build/.ninja_deps
meson.build
Calculator_NX
